{% extends "index.html" %}

{%  block main_content %}

<div class="w-full h-[700px] flex justify-center pt-14">
    <div class="w-[1200px] h-full flex justify-evenly p-4">
        <div class="w-[48%] h-full flex justify-center bg-white rounded-2xl hover:sclae-x-50 hover:scale-y-50 duration-500 hover:duration-500"></div>
        <div class="w-[48%] h-full flex justify-center bg-white rounded-2xl hover:sclae-x-50 hover:scale-y-50 duration-500 hover:duration-500"></div>
    </div>
</div>

{% endblock %}