<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
</head>
<body class="m-0 p-0 flex justify-center">
    <div id="container" class="w-[1000px] h-screen border-2">
        <div id="navbar" class="bg-red-600 w-full h-[100px] flex justify-between">
            <div class="w-[150px] h-full flex justify-center item-center">
                <span class="text-5xl text-white font-serif">LOGO</span>
            </div>

            <div>
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    
</body>
</html>